<html>
	<head>
		<title>rails_websocket 聊天室</title>
	</head>
	<script type="text/javascript" src="/assets/application.js"></script>
	<script type="text/javascript">
		var dispatcher = new WebSocketRails(window.location.href.substring(window.location.protocol.length) + '/websocket');
		var channel = dispatcher.subscribe('subscribe_msg');
		channel.bind('msg', function(msg) {
		  document.getElementById("view").value = document.getElementById("view").value + msg[0] + " 发送于 " + msg[2] + "\n-------------------------------------\n" + msg[1] + "\n=====================================\n";
		});
		// dispatcher.bind('msg', function(msg) {
	  //     document.getElementById("view").innerHTML = document.getElementById("view").innerHTML + msg + "</p>";
	  //   });
    function send(){
    	var name = document.getElementById("name").value;
    	if (name == "") {
    		name = "匿名";
    	};
    	var messge = {
				msg :  document.getElementById("msg").value,
				name:  name
			};
    	dispatcher.trigger('websockets_rails.send_msgs', messge);
    	document.getElementById("msg").value = "";
    }
	</script>
	<body>
		<div style="width: 400px;height:300px;background:rgb(218, 218, 218);" > 
			<textarea readonly="readonly" style="width: 400px;height:300px;background:rgb(218, 218, 218);" id= "view"></textarea>
		</div>
		昵称:<input type="text" id="name" /><p>
		消息:<input type="text" id="msg" /><input type="button" id = "btn" value = "send" onclick="send()" />
	</body>
</html>